@charset "utf-8";

/*bg1（背景に色がついたタイプ）
---------------------------------------------------------------------------*/
.bg1 {
	background: #111;	/*背景色*/
	color: #fff;		/*文字色*/
}
.bg1 a {
	color: #fff;		/*リンクテキストの文字色*/
}