@charset "utf-8";

/*fab_icon
---------------------------------------------------------------------------*/
.fab_icon {
	display: flex;				/*flexボックスを使う指定*/
	justify-content: center;	/*水平揃えの指定。左右中央に配置されるように。*/
	align-items: center;		/*垂直揃えの指定。天地中央に配置されるように。*/
	font-size: 1.5rem;			/*文字サイズ。アイコンのサイズになります。1.5倍。*/
}

/*アイコン１個あたり*/
.fab_icon li {
	margin: 0.7rem;		/*アイコン同士に空けるスペース*/
}
