@charset "utf-8";

/*header（ロゴなどが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	background: #e159a2;	/*背景色*/
	color: #fff;			/*文字色*/
	position: relative;
}

/*ヘッダーのリンクテキストの文字色*/
header a {
	color: #fff;
}

/*ロゴ画像*/
header #logo img {display: block;}
header #logo {
	width: 200px;		/*幅*/
	margin: 0 auto;		/*ロゴを左右中央に配置*/
}

/*トップページのロゴ画像*/
.home header #logo {
	position: absolute; z-index: 1;
	width: 75%;		/*ロゴの幅*/
	left: 15%;		/*headerに対して、左からの配置場所*/
	top: 0px;		/*headerに対して、上からの配置場所*/
}

/*トップページのロゴ下に書いている説明文*/
header #logo p {
	font-size: 0.8em;
	width: 500px;		/*幅*/
	margin: 0 auto;		/*ロゴを左右中央に配置*/
}
