@charset "utf-8";

/*---------------------------------------------------------------------------
ここから下は画面幅400px以上の追加指定
---------------------------------------------------------------------------*/
@media screen and (min-width:400px) {

	/*header（ロゴなどが入った最上段のブロック）
	---------------------------------------------------------------------------*/
	/*トップページのロゴ画像*/
	.home header #logo {
		padding-top: 5%;	/*上に空ける余白。上下間のバランスをとって下さい。*/
	}
	
	/*　※注意！　下の閉じカッコ　}　はこのブロックに必要なので、削除しないで下さい。　*/
	
	}
/*---------------------------------------------------------------------------
ここから下は画面幅600px以上の追加指定
---------------------------------------------------------------------------*/
@media screen and (min-width:600px) {


	/*header（ロゴなどが入った最上段のブロック）
	---------------------------------------------------------------------------*/
	/*トップページのロゴ画像*/
	.home header #logo {
		width: 40%;			/*ロゴの幅*/
		padding-top: 10%;	/*上に空ける余白。上下間のバランスをとって下さい。*/
	}
	
	
	/*listブロック
	---------------------------------------------------------------------------*/
	.list {
		display: flex;					/*flexボックスを使う指定*/
		justify-content: space-between;	/*並びかたの種類の指定*/
	}
	
	/*ボックス内のfigure画像*/
	.list figure {
		width: 30%;			/*幅*/
		margin-right: 5%;	/*画像の右側に空けるスペース*/
	}
	
	/*ボックス内のtextブロック*/
	.list .text {
		flex: 1;
		margin-right: 5%;
	}
	
	
	/*　※注意！　下の閉じカッコ　}　はこのブロックに必要なので、削除しないで下さい。　*/
	
	}
/*---------------------------------------------------------------------------
ここから下は画面幅800px以上の追加指定
---------------------------------------------------------------------------*/
@media screen and (min-width:800px) {


	/*全体の設定
	---------------------------------------------------------------------------*/
	html, body {
		font-size: 15px;	/*基準となるフォントサイズの上書き*/
	}
	
	
	/*header（ロゴなどが入った最上段のブロック）
	---------------------------------------------------------------------------*/
	/*トップページのロゴ画像*/
	.home header #logo {
		left: 10%;			/*headerに対して、左からの配置場所*/
		padding-top: 13%;	/*上に空ける余白。上下間のバランスをとって下さい。*/
	}
	
	
	/*menubarブロック設定
	---------------------------------------------------------------------------*/
	/*メニューブロック全体*/
	#menubar ul {
		margin: 0;
		display: flex;
		justify-content: space-around;
		line-height: 1.6;	/*行間を少しだけ狭くする*/
	}
	
	/*メニュー１個あたりの設定*/
	#menubar ul li {
		flex: 1;
	}
	
	
	/*ドロップダウンメニュー
	---------------------------------------------------------------------------*/
	#menubar .ddmenu_parent{
		position: relative;	/*ddmenu ulの幅となる基準を作っておく*/
	}
	
	/*ドロップダウンメニューブロック全体*/
	#menubar .ddmenu_parent ul {
		position: absolute;			/*絶対配置するための指定*/
		z-index: 100;
		width: 100%;				/*親のliタグに幅を合わせる*/
	}
	
	
	/*３本バー（ハンバーガー）アイコン設定
	---------------------------------------------------------------------------*/
	/*ハンバーガーメニューを非表示にする*/
	#menubar_hdr {display: none;}
	
	
	/*2カラムの場合
	---------------------------------------------------------------------------*/
	/*2カラム（.mainと.sub）を囲むブロック*/
	.c2 {
		flex-direction: row;			/*子要素を横並びにする*/
		justify-content: space-between;	/*並びかたの種類の指定*/
	}
	
	/*main（※頭にドット「.」のない「main」とは全く異なります。）*/
	.main {
		width: calc(100% - 250px);	/*幅。250pxというのは、下のsubのwidthの値に余白分を加えた数字です。ちょうど200pxにしてしまうとキツキツになるので。*/
	}
	
	/*sub*/
	.sub {
		width: 200px;	/*幅。変更する際は上の.mainのwidthも調整して下さい。*/
	}
	
	
	/*「お知らせ」ブロック
	---------------------------------------------------------------------------*/
	/*日付(dt)設定*/
	#new dt {
		width: 14em;	/*幅。14文字(em)分。*/
		display: flex;	/*flexボックスを使う指定*/
		justify-content: space-between;	/*日付とアイコンをそれぞれ端に寄せる*/
	}
	
	/*日付の横のマーク（共通設定）*/
	#new dt span {
		display: inline-block;	/*表示させる*/
		width: 6em;				/*幅。6文字(em)分。*/
		background: #999;		/*背景色*/
		color: #fff;			/*文字色*/
		font-size: 0.8em;		/*文字サイズを80%に。*/
		text-align: center;		/*文字をセンタリング*/
		margin-right: 1em;		/*アイコンの右側に空けるスペース*/
		align-self: flex-start;	/*高さを間延びさせない指定*/
		line-height: 1.8;		/*行間を少し狭く*/
		position: relative;top: 0.4em;	/*上下の配置バランスの微調整*/
	}
	
	/*bg1設定。サンプルテンプレートでは「サービス」と書いてあるマーク*/
	#new dt span.icon-bg1 {
		background: #e159a2;	/*背景色*/
	}
	
	/*記事(dd)設定*/
	#new dd {
		width: calc(100% - 14em);	/*「14em」は上の「#new dt」のwidthの値です。*/
	}
	
	
	/*listブロック
	---------------------------------------------------------------------------*/
	/*listブロック全体を囲むブロック*/
	.list-container {
		display: flex;		/*flexボックスを使う指定*/
		flex-wrap: wrap;	/*折り返す指定*/
		/*justify-content: space-between;	並びかたの種類の指定*/
	}
	
	/*１個あたりのボックス設定*/
	.list {
		flex-direction: column;			/*子要素を縦並びにする*/
		width: 32%;			/*幅。３列になります。*/
		margin-right: 2%;	/*右側へのマージン*/
	}
	
	/*３の倍数のボックスへの追加設定*/
	.list:nth-of-type(3n) {
		margin-right: 0;	/*右側マージンをなくす*/
	}
	
	/*ボックス内のfigure画像*/
	.list figure {
		width: 100%;
		margin-right: 0;
	}
	
	/*ボックス内のtextブロック*/
	.list .text {
		margin-right: 0;
	}
	
	/*ボックス内のh4タグ*/
	.list h4 {
		margin: 10px 0;	/*上下、左右への余白*/
	}
	
	
	/*テーブル
	---------------------------------------------------------------------------*/
	/*テーブル１行目に入った見出し部分（※caption）*/
	.ta1 caption {
		padding: 5px 15px;		/*上下、左右へのボックス内の余白*/
	}
	
	/*th（左側）、td（右側）の共通設定*/
	.ta1 th, .ta1 td {
		padding: 20px 15px;		/*上下、左右へのボックス内の余白*/
	}
	
	/*th（左側）のみの設定*/
	.ta1 th {
		width: 20%;		/*幅*/
	}
	
	
	/*その他
	---------------------------------------------------------------------------*/
	.ws {width: 48%;display: inline;}
	.sh {display: none;}
	.pc {display: block;}
	
	
	/*　※注意！　下の閉じカッコ　}　はこのブロックに必要なので、削除しないで下さい。　*/
	
	}